<ul class="media-list">
  <% tasks.each do |task| %>
    <% user = task.user %>
    <li class="media">
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %><span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <p><%= link_to task.content, task_path(task.id) %></p>
        </div>
        <div>
          <p><%= task.status %></p>
        </div>
        <div>
          <% if current_user == task.user %>
            <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>